src/main/resources/wsdl/fundstransfer.wsdl

        <!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown.  -->
        <!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://transfer.server.ws.supernova.neptunesoftware.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://transfer.server.ws.supernova.neptunesoftware.com/" name="FundsTransferWebServiceEndPointPort">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://transfer.server.ws.supernova.neptunesoftware.com/" schemaLocation="http://10.152.2.161:7001/supernovaws/FundsTransferWebServiceEndPointPort?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://common.ws.supernova.neptunesoftware.com/" schemaLocation="http://10.152.2.161:7001/supernovaws/FundsTransferWebServiceEndPointPort?xsd=2"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://data.transfer.server.ws.supernova.neptunesoftware.com/" schemaLocation="http://10.152.2.161:7001/supernovaws/FundsTransferWebServiceEndPointPort?xsd=3"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://data.account.server.ws.supernova.neptunesoftware.com/" schemaLocation="http://10.152.2.161:7001/supernovaws/FundsTransferWebServiceEndPointPort?xsd=4"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://data.txnprocess.server.ws.supernova.neptunesoftware.com/" schemaLocation="http://10.152.2.161:7001/supernovaws/FundsTransferWebServiceEndPointPort?xsd=5"/>
        </xsd:schema>
    </types>
    <message name="createAccountDirectDebit">
        <part name="parameters" element="tns:createAccountDirectDebit"/>
    </message>
    <message name="createAccountDirectDebitResponse">
        <part name="parameters" element="tns:createAccountDirectDebitResponse"/>
    </message>
    <message name="XAPIException">
        <part xmlns:ns1="http://common.ws.supernova.neptunesoftware.com/" name="fault" element="ns1:XAPIException"/>
    </message>
    <message name="removeStandingOrder">
        <part name="parameters" element="tns:removeStandingOrder"/>
    </message>
    <message name="removeStandingOrderResponse">
        <part name="parameters" element="tns:removeStandingOrderResponse"/>
    </message>
    <message name="closeStandingOrders">
        <part name="parameters" element="tns:closeStandingOrders"/>
    </message>
    <message name="closeStandingOrdersResponse">
        <part name="parameters" element="tns:closeStandingOrdersResponse"/>
    </message>
    <message name="getNetworkList">
        <part name="parameters" element="tns:getNetworkList"/>
    </message>
    <message name="getNetworkListResponse">
        <part name="parameters" element="tns:getNetworkListResponse"/>
    </message>
    <message name="findAccountStandingOrderView">
        <part name="parameters" element="tns:findAccountStandingOrderView"/>
    </message>
    <message name="findAccountStandingOrderViewResponse">
        <part name="parameters" element="tns:findAccountStandingOrderViewResponse"/>
    </message>
    <message name="findDirectDebitView">
        <part name="parameters" element="tns:findDirectDebitView"/>
    </message>
    <message name="findDirectDebitViewResponse">
        <part name="parameters" element="tns:findDirectDebitViewResponse"/>
    </message>
    <message name="modifyServiceProviderStandingOrder">
        <part name="parameters" element="tns:modifyServiceProviderStandingOrder"/>
    </message>
    <message name="modifyServiceProviderStandingOrderResponse">
        <part name="parameters" element="tns:modifyServiceProviderStandingOrderResponse"/>
    </message>
    <message name="mandateadvice">
        <part name="parameters" element="tns:mandateadvice"/>
    </message>
    <message name="mandateadviceResponse">
        <part name="parameters" element="tns:mandateadviceResponse"/>
    </message>
    <message name="createServiceProviderStandingOrder">
        <part name="parameters" element="tns:createServiceProviderStandingOrder"/>
    </message>
    <message name="createServiceProviderStandingOrderResponse">
        <part name="parameters" element="tns:createServiceProviderStandingOrderResponse"/>
    </message>
    <message name="sweepAmendment">
        <part name="parameters" element="tns:sweepAmendment"/>
    </message>
    <message name="sweepAmendmentResponse">
        <part name="parameters" element="tns:sweepAmendmentResponse"/>
    </message>
    <message name="createInternalStandingOrder">
        <part name="parameters" element="tns:createInternalStandingOrder"/>
    </message>
    <message name="createInternalStandingOrderResponse">
        <part name="parameters" element="tns:createInternalStandingOrderResponse"/>
    </message>
    <message name="modifyInternalStandingOrder">
        <part name="parameters" element="tns:modifyInternalStandingOrder"/>
    </message>
    <message name="modifyInternalStandingOrderResponse">
        <part name="parameters" element="tns:modifyInternalStandingOrderResponse"/>
    </message>
    <message name="createInterBankStandingOrder">
        <part name="parameters" element="tns:createInterBankStandingOrder"/>
    </message>
    <message name="createInterBankStandingOrderResponse">
        <part name="parameters" element="tns:createInterBankStandingOrderResponse"/>
    </message>
    <message name="createInterNationalStandingOrder">
        <part name="parameters" element="tns:createInterNationalStandingOrder"/>
    </message>
    <message name="createInterNationalStandingOrderResponse">
        <part name="parameters" element="tns:createInterNationalStandingOrderResponse"/>
    </message>
    <message name="internalDepositAccountTransfer">
        <part name="parameters" element="tns:internalDepositAccountTransfer"/>
    </message>
    <message name="internalDepositAccountTransferResponse">
        <part name="parameters" element="tns:internalDepositAccountTransferResponse"/>
    </message>
    <message name="findMobileRecharge">
        <part name="parameters" element="tns:findMobileRecharge"/>
    </message>
    <message name="findMobileRechargeResponse">
        <part name="parameters" element="tns:findMobileRechargeResponse"/>
    </message>
    <message name="createSweepFundsTransfer">
        <part name="parameters" element="tns:createSweepFundsTransfer"/>
    </message>
    <message name="createSweepFundsTransferResponse">
        <part name="parameters" element="tns:createSweepFundsTransferResponse"/>
    </message>
    <message name="modifySweepFundsTransfer">
        <part name="parameters" element="tns:modifySweepFundsTransfer"/>
    </message>
    <message name="modifySweepFundsTransferResponse">
        <part name="parameters" element="tns:modifySweepFundsTransferResponse"/>
    </message>
    <message name="findSweepFundsTransfers">
        <part name="parameters" element="tns:findSweepFundsTransfers"/>
    </message>
    <message name="findSweepFundsTransfersResponse">
        <part name="parameters" element="tns:findSweepFundsTransfersResponse"/>
    </message>
    <message name="closeSweepFundsTransfer">
        <part name="parameters" element="tns:closeSweepFundsTransfer"/>
    </message>
    <message name="closeSweepFundsTransferResponse">
        <part name="parameters" element="tns:closeSweepFundsTransferResponse"/>
    </message>
    <message name="interBankTransferByAccount">
        <part name="parameters" element="tns:interBankTransferByAccount"/>
    </message>
    <message name="interBankTransferByAccountResponse">
        <part name="parameters" element="tns:interBankTransferByAccountResponse"/>
    </message>
    <message name="removeAccountSweep">
        <part name="parameters" element="tns:removeAccountSweep"/>
    </message>
    <message name="removeAccountSweepResponse">
        <part name="parameters" element="tns:removeAccountSweepResponse"/>
    </message>
    <message name="outwardFundXferByDepositAccount">
        <part name="parameters" element="tns:outwardFundXferByDepositAccount"/>
    </message>
    <message name="outwardFundXferByDepositAccountResponse">
        <part name="parameters" element="tns:outwardFundXferByDepositAccountResponse"/>
    </message>
    <message name="customerToCustomerTransfer">
        <part name="parameters" element="tns:customerToCustomerTransfer"/>
    </message>
    <message name="customerToCustomerTransferResponse">
        <part name="parameters" element="tns:customerToCustomerTransferResponse"/>
    </message>
    <message name="ownAccountTransfer">
        <part name="parameters" element="tns:ownAccountTransfer"/>
    </message>
    <message name="ownAccountTransferResponse">
        <part name="parameters" element="tns:ownAccountTransferResponse"/>
    </message>
    <message name="internationalTransfer">
        <part name="parameters" element="tns:internationalTransfer"/>
    </message>
    <message name="internationalTransferResponse">
        <part name="parameters" element="tns:internationalTransferResponse"/>
    </message>
    <message name="performInternalTransferForCashDeposit">
        <part name="parameters" element="tns:performInternalTransferForCashDeposit"/>
    </message>
    <message name="performInternalTransferForCashDepositResponse">
        <part name="parameters" element="tns:performInternalTransferForCashDepositResponse"/>
    </message>
    <message name="performAccountToAccountXfer">
        <part name="parameters" element="tns:performAccountToAccountXfer"/>
    </message>
    <message name="performAccountToAccountXferResponse">
        <part name="parameters" element="tns:performAccountToAccountXferResponse"/>
    </message>
    <message name="getDirectDebitMandateDetails">
        <part name="parameters" element="tns:getDirectDebitMandateDetails"/>
    </message>
    <message name="getDirectDebitMandateDetailsResponse">
        <part name="parameters" element="tns:getDirectDebitMandateDetailsResponse"/>
    </message>
    <message name="standingOrderAmendment">
        <part name="parameters" element="tns:standingOrderAmendment"/>
    </message>
    <message name="standingOrderAmendmentResponse">
        <part name="parameters" element="tns:standingOrderAmendmentResponse"/>
    </message>
    <message name="getStandingOrderDetails">
        <part name="parameters" element="tns:getStandingOrderDetails"/>
    </message>
    <message name="getStandingOrderDetailsResponse">
        <part name="parameters" element="tns:getStandingOrderDetailsResponse"/>
    </message>
    <message name="getDirectDebitMandates">
        <part name="parameters" element="tns:getDirectDebitMandates"/>
    </message>
    <message name="getDirectDebitMandatesResponse">
        <part name="parameters" element="tns:getDirectDebitMandatesResponse"/>
    </message>
    <message name="createDirectDebitMandate">
        <part name="parameters" element="tns:createDirectDebitMandate"/>
    </message>
    <message name="createDirectDebitMandateResponse">
        <part name="parameters" element="tns:createDirectDebitMandateResponse"/>
    </message>
    <message name="agencyCustomerToCustomerTransfer">
        <part name="parameters" element="tns:agencyCustomerToCustomerTransfer"/>
    </message>
    <message name="agencyCustomerToCustomerTransferResponse">
        <part name="parameters" element="tns:agencyCustomerToCustomerTransferResponse"/>
    </message>
    <message name="agencyCustomerFundsTransfer">
        <part name="parameters" element="tns:agencyCustomerFundsTransfer"/>
    </message>
    <message name="agencyCustomerFundsTransferResponse">
        <part name="parameters" element="tns:agencyCustomerFundsTransferResponse"/>
    </message>
    <message name="agencyCashFundsTransfer">
        <part name="parameters" element="tns:agencyCashFundsTransfer"/>
    </message>
    <message name="agencyCashFundsTransferResponse">
        <part name="parameters" element="tns:agencyCashFundsTransferResponse"/>
    </message>
    <message name="createInwardFundTransfer">
        <part name="parameters" element="tns:createInwardFundTransfer"/>
    </message>
    <message name="createInwardFundTransferResponse">
        <part name="parameters" element="tns:createInwardFundTransferResponse"/>
    </message>
    <message name="nameenquirysingleitem">
        <part name="parameters" element="tns:nameenquirysingleitem"/>
    </message>
    <message name="nameenquirysingleitemResponse">
        <part name="parameters" element="tns:nameenquirysingleitemResponse"/>
    </message>
    <message name="fundtransfersingleitemdc">
        <part name="parameters" element="tns:fundtransfersingleitemdc"/>
    </message>
    <message name="fundtransfersingleitemdcResponse">
        <part name="parameters" element="tns:fundtransfersingleitemdcResponse"/>
    </message>
    <message name="fundtransferAdvicedc">
        <part name="parameters" element="tns:fundtransferAdvicedc"/>
    </message>
    <message name="fundtransferAdvicedcResponse">
        <part name="parameters" element="tns:fundtransferAdvicedcResponse"/>
    </message>
    <message name="fundtransfersingleitemdd">
        <part name="parameters" element="tns:fundtransfersingleitemdd"/>
    </message>
    <message name="fundtransfersingleitemddResponse">
        <part name="parameters" element="tns:fundtransfersingleitemddResponse"/>
    </message>
    <message name="fundtransferAdvicedd">
        <part name="parameters" element="tns:fundtransferAdvicedd"/>
    </message>
    <message name="fundtransferAdviceddResponse">
        <part name="parameters" element="tns:fundtransferAdviceddResponse"/>
    </message>
    <message name="transactionStatusQuery">
        <part name="parameters" element="tns:transactionStatusQuery"/>
    </message>
    <message name="transactionStatusQueryResponse">
        <part name="parameters" element="tns:transactionStatusQueryResponse"/>
    </message>
    <message name="financialInstitutionList">
        <part name="parameters" element="tns:financialInstitutionList"/>
    </message>
    <message name="financialInstitutionListResponse">
        <part name="parameters" element="tns:financialInstitutionListResponse"/>
    </message>
    <message name="getInwardFundsTransferConfirmation">
        <part name="parameters" element="tns:getInwardFundsTransferConfirmation"/>
    </message>
    <message name="getInwardFundsTransferConfirmationResponse">
        <part name="parameters" element="tns:getInwardFundsTransferConfirmationResponse"/>
    </message>
    <message name="externalAccountNameInquiry">
        <part name="parameters" element="tns:externalAccountNameInquiry"/>
    </message>
    <message name="externalAccountNameInquiryResponse">
        <part name="parameters" element="tns:externalAccountNameInquiryResponse"/>
    </message>
    <message name="fundtransfersingleitemcredit">
        <part name="parameters" element="tns:fundtransfersingleitemcredit"/>
    </message>
    <message name="fundtransfersingleitemcreditResponse">
        <part name="parameters" element="tns:fundtransfersingleitemcreditResponse"/>
    </message>
    <message name="fundtransfersingleitemdebit">
        <part name="parameters" element="tns:fundtransfersingleitemdebit"/>
    </message>
    <message name="fundtransfersingleitemdebitResponse">
        <part name="parameters" element="tns:fundtransfersingleitemdebitResponse"/>
    </message>
    <message name="agencyInternalDepositAccountTransfer">
        <part name="parameters" element="tns:agencyInternalDepositAccountTransfer"/>
    </message>
    <message name="agencyInternalDepositAccountTransferResponse">
        <part name="parameters" element="tns:agencyInternalDepositAccountTransferResponse"/>
    </message>
    <message name="internalDepositAccountTransferFromExternalChannel">
        <part name="parameters" element="tns:internalDepositAccountTransferFromExternalChannel"/>
    </message>
    <message name="internalDepositAccountTransferFromExternalChannelResponse">
        <part name="parameters" element="tns:internalDepositAccountTransferFromExternalChannelResponse"/>
    </message>
    <portType name="FundsTransferWebServiceStub">
        <operation name="createAccountDirectDebit">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createAccountDirectDebitRequest" message="tns:createAccountDirectDebit"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createAccountDirectDebitResponse" message="tns:createAccountDirectDebitResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createAccountDirectDebit/Fault/XAPIException"/>
        </operation>
        <operation name="removeStandingOrder">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/removeStandingOrderRequest" message="tns:removeStandingOrder"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/removeStandingOrderResponse" message="tns:removeStandingOrderResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/removeStandingOrder/Fault/XAPIException"/>
        </operation>
        <operation name="closeStandingOrders">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/closeStandingOrdersRequest" message="tns:closeStandingOrders"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/closeStandingOrdersResponse" message="tns:closeStandingOrdersResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/closeStandingOrders/Fault/XAPIException"/>
        </operation>
        <operation name="getNetworkList">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getNetworkListRequest" message="tns:getNetworkList"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getNetworkListResponse" message="tns:getNetworkListResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getNetworkList/Fault/XAPIException"/>
        </operation>
        <operation name="findAccountStandingOrderView">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/findAccountStandingOrderViewRequest" message="tns:findAccountStandingOrderView"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/findAccountStandingOrderViewResponse" message="tns:findAccountStandingOrderViewResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/findAccountStandingOrderView/Fault/XAPIException"/>
        </operation>
        <operation name="findDirectDebitView">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/findDirectDebitViewRequest" message="tns:findDirectDebitView"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/findDirectDebitViewResponse" message="tns:findDirectDebitViewResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/findDirectDebitView/Fault/XAPIException"/>
        </operation>
        <operation name="modifyServiceProviderStandingOrder">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/modifyServiceProviderStandingOrderRequest" message="tns:modifyServiceProviderStandingOrder"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/modifyServiceProviderStandingOrderResponse" message="tns:modifyServiceProviderStandingOrderResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/modifyServiceProviderStandingOrder/Fault/XAPIException"/>
        </operation>
        <operation name="mandateadvice">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/mandateadviceRequest" message="tns:mandateadvice"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/mandateadviceResponse" message="tns:mandateadviceResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/mandateadvice/Fault/XAPIException"/>
        </operation>
        <operation name="createServiceProviderStandingOrder">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createServiceProviderStandingOrderRequest" message="tns:createServiceProviderStandingOrder"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createServiceProviderStandingOrderResponse" message="tns:createServiceProviderStandingOrderResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createServiceProviderStandingOrder/Fault/XAPIException"/>
        </operation>
        <operation name="sweepAmendment">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/sweepAmendmentRequest" message="tns:sweepAmendment"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/sweepAmendmentResponse" message="tns:sweepAmendmentResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/sweepAmendment/Fault/XAPIException"/>
        </operation>
        <operation name="createInternalStandingOrder">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createInternalStandingOrderRequest" message="tns:createInternalStandingOrder"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createInternalStandingOrderResponse" message="tns:createInternalStandingOrderResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createInternalStandingOrder/Fault/XAPIException"/>
        </operation>
        <operation name="modifyInternalStandingOrder">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/modifyInternalStandingOrderRequest" message="tns:modifyInternalStandingOrder"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/modifyInternalStandingOrderResponse" message="tns:modifyInternalStandingOrderResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/modifyInternalStandingOrder/Fault/XAPIException"/>
        </operation>
        <operation name="createInterBankStandingOrder">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createInterBankStandingOrderRequest" message="tns:createInterBankStandingOrder"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createInterBankStandingOrderResponse" message="tns:createInterBankStandingOrderResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createInterBankStandingOrder/Fault/XAPIException"/>
        </operation>
        <operation name="createInterNationalStandingOrder">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createInterNationalStandingOrderRequest" message="tns:createInterNationalStandingOrder"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createInterNationalStandingOrderResponse" message="tns:createInterNationalStandingOrderResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createInterNationalStandingOrder/Fault/XAPIException"/>
        </operation>
        <operation name="internalDepositAccountTransfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/internalDepositAccountTransferRequest" message="tns:internalDepositAccountTransfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/internalDepositAccountTransferResponse" message="tns:internalDepositAccountTransferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/internalDepositAccountTransfer/Fault/XAPIException"/>
        </operation>
        <operation name="findMobileRecharge">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/findMobileRechargeRequest" message="tns:findMobileRecharge"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/findMobileRechargeResponse" message="tns:findMobileRechargeResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/findMobileRecharge/Fault/XAPIException"/>
        </operation>
        <operation name="createSweepFundsTransfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createSweepFundsTransferRequest" message="tns:createSweepFundsTransfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createSweepFundsTransferResponse" message="tns:createSweepFundsTransferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createSweepFundsTransfer/Fault/XAPIException"/>
        </operation>
        <operation name="modifySweepFundsTransfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/modifySweepFundsTransferRequest" message="tns:modifySweepFundsTransfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/modifySweepFundsTransferResponse" message="tns:modifySweepFundsTransferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/modifySweepFundsTransfer/Fault/XAPIException"/>
        </operation>
        <operation name="findSweepFundsTransfers">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/findSweepFundsTransfersRequest" message="tns:findSweepFundsTransfers"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/findSweepFundsTransfersResponse" message="tns:findSweepFundsTransfersResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/findSweepFundsTransfers/Fault/XAPIException"/>
        </operation>
        <operation name="closeSweepFundsTransfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/closeSweepFundsTransferRequest" message="tns:closeSweepFundsTransfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/closeSweepFundsTransferResponse" message="tns:closeSweepFundsTransferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/closeSweepFundsTransfer/Fault/XAPIException"/>
        </operation>
        <operation name="interBankTransferByAccount">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/interBankTransferByAccountRequest" message="tns:interBankTransferByAccount"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/interBankTransferByAccountResponse" message="tns:interBankTransferByAccountResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/interBankTransferByAccount/Fault/XAPIException"/>
        </operation>
        <operation name="removeAccountSweep">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/removeAccountSweepRequest" message="tns:removeAccountSweep"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/removeAccountSweepResponse" message="tns:removeAccountSweepResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/removeAccountSweep/Fault/XAPIException"/>
        </operation>
        <operation name="outwardFundXferByDepositAccount">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/outwardFundXferByDepositAccountRequest" message="tns:outwardFundXferByDepositAccount"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/outwardFundXferByDepositAccountResponse" message="tns:outwardFundXferByDepositAccountResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/outwardFundXferByDepositAccount/Fault/XAPIException"/>
        </operation>
        <operation name="customerToCustomerTransfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/customerToCustomerTransferRequest" message="tns:customerToCustomerTransfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/customerToCustomerTransferResponse" message="tns:customerToCustomerTransferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/customerToCustomerTransfer/Fault/XAPIException"/>
        </operation>
        <operation name="ownAccountTransfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/ownAccountTransferRequest" message="tns:ownAccountTransfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/ownAccountTransferResponse" message="tns:ownAccountTransferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/ownAccountTransfer/Fault/XAPIException"/>
        </operation>
        <operation name="internationalTransfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/internationalTransferRequest" message="tns:internationalTransfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/internationalTransferResponse" message="tns:internationalTransferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/internationalTransfer/Fault/XAPIException"/>
        </operation>
        <operation name="performInternalTransferForCashDeposit">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/performInternalTransferForCashDepositRequest" message="tns:performInternalTransferForCashDeposit"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/performInternalTransferForCashDepositResponse" message="tns:performInternalTransferForCashDepositResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/performInternalTransferForCashDeposit/Fault/XAPIException"/>
        </operation>
        <operation name="performAccountToAccountXfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/performAccountToAccountXferRequest" message="tns:performAccountToAccountXfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/performAccountToAccountXferResponse" message="tns:performAccountToAccountXferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/performAccountToAccountXfer/Fault/XAPIException"/>
        </operation>
        <operation name="getDirectDebitMandateDetails">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getDirectDebitMandateDetailsRequest" message="tns:getDirectDebitMandateDetails"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getDirectDebitMandateDetailsResponse" message="tns:getDirectDebitMandateDetailsResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getDirectDebitMandateDetails/Fault/XAPIException"/>
        </operation>
        <operation name="standingOrderAmendment">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/standingOrderAmendmentRequest" message="tns:standingOrderAmendment"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/standingOrderAmendmentResponse" message="tns:standingOrderAmendmentResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/standingOrderAmendment/Fault/XAPIException"/>
        </operation>
        <operation name="getStandingOrderDetails">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getStandingOrderDetailsRequest" message="tns:getStandingOrderDetails"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getStandingOrderDetailsResponse" message="tns:getStandingOrderDetailsResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getStandingOrderDetails/Fault/XAPIException"/>
        </operation>
        <operation name="getDirectDebitMandates">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getDirectDebitMandatesRequest" message="tns:getDirectDebitMandates"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getDirectDebitMandatesResponse" message="tns:getDirectDebitMandatesResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getDirectDebitMandates/Fault/XAPIException"/>
        </operation>
        <operation name="createDirectDebitMandate">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createDirectDebitMandateRequest" message="tns:createDirectDebitMandate"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createDirectDebitMandateResponse" message="tns:createDirectDebitMandateResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createDirectDebitMandate/Fault/XAPIException"/>
        </operation>
        <operation name="agencyCustomerToCustomerTransfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/agencyCustomerToCustomerTransferRequest" message="tns:agencyCustomerToCustomerTransfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/agencyCustomerToCustomerTransferResponse" message="tns:agencyCustomerToCustomerTransferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/agencyCustomerToCustomerTransfer/Fault/XAPIException"/>
        </operation>
        <operation name="agencyCustomerFundsTransfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/agencyCustomerFundsTransferRequest" message="tns:agencyCustomerFundsTransfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/agencyCustomerFundsTransferResponse" message="tns:agencyCustomerFundsTransferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/agencyCustomerFundsTransfer/Fault/XAPIException"/>
        </operation>
        <operation name="agencyCashFundsTransfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/agencyCashFundsTransferRequest" message="tns:agencyCashFundsTransfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/agencyCashFundsTransferResponse" message="tns:agencyCashFundsTransferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/agencyCashFundsTransfer/Fault/XAPIException"/>
        </operation>
        <operation name="createInwardFundTransfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createInwardFundTransferRequest" message="tns:createInwardFundTransfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createInwardFundTransferResponse" message="tns:createInwardFundTransferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/createInwardFundTransfer/Fault/XAPIException"/>
        </operation>
        <operation name="nameenquirysingleitem">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/nameenquirysingleitemRequest" message="tns:nameenquirysingleitem"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/nameenquirysingleitemResponse" message="tns:nameenquirysingleitemResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/nameenquirysingleitem/Fault/XAPIException"/>
        </operation>
        <operation name="fundtransfersingleitemdc">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransfersingleitemdcRequest" message="tns:fundtransfersingleitemdc"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransfersingleitemdcResponse" message="tns:fundtransfersingleitemdcResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransfersingleitemdc/Fault/XAPIException"/>
        </operation>
        <operation name="fundtransferAdvicedc">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransferAdvicedcRequest" message="tns:fundtransferAdvicedc"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransferAdvicedcResponse" message="tns:fundtransferAdvicedcResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransferAdvicedc/Fault/XAPIException"/>
        </operation>
        <operation name="fundtransfersingleitemdd">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransfersingleitemddRequest" message="tns:fundtransfersingleitemdd"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransfersingleitemddResponse" message="tns:fundtransfersingleitemddResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransfersingleitemdd/Fault/XAPIException"/>
        </operation>
        <operation name="fundtransferAdvicedd">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransferAdviceddRequest" message="tns:fundtransferAdvicedd"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransferAdviceddResponse" message="tns:fundtransferAdviceddResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransferAdvicedd/Fault/XAPIException"/>
        </operation>
        <operation name="transactionStatusQuery">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/transactionStatusQueryRequest" message="tns:transactionStatusQuery"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/transactionStatusQueryResponse" message="tns:transactionStatusQueryResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/transactionStatusQuery/Fault/XAPIException"/>
        </operation>
        <operation name="financialInstitutionList">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/financialInstitutionListRequest" message="tns:financialInstitutionList"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/financialInstitutionListResponse" message="tns:financialInstitutionListResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/financialInstitutionList/Fault/XAPIException"/>
        </operation>
        <operation name="getInwardFundsTransferConfirmation">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getInwardFundsTransferConfirmationRequest" message="tns:getInwardFundsTransferConfirmation"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getInwardFundsTransferConfirmationResponse" message="tns:getInwardFundsTransferConfirmationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/getInwardFundsTransferConfirmation/Fault/XAPIException"/>
        </operation>
        <operation name="externalAccountNameInquiry">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/externalAccountNameInquiryRequest" message="tns:externalAccountNameInquiry"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/externalAccountNameInquiryResponse" message="tns:externalAccountNameInquiryResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/externalAccountNameInquiry/Fault/XAPIException"/>
        </operation>
        <operation name="fundtransfersingleitemcredit">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransfersingleitemcreditRequest" message="tns:fundtransfersingleitemcredit"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransfersingleitemcreditResponse" message="tns:fundtransfersingleitemcreditResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransfersingleitemcredit/Fault/XAPIException"/>
        </operation>
        <operation name="fundtransfersingleitemdebit">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransfersingleitemdebitRequest" message="tns:fundtransfersingleitemdebit"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransfersingleitemdebitResponse" message="tns:fundtransfersingleitemdebitResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/fundtransfersingleitemdebit/Fault/XAPIException"/>
        </operation>
        <operation name="agencyInternalDepositAccountTransfer">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/agencyInternalDepositAccountTransferRequest" message="tns:agencyInternalDepositAccountTransfer"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/agencyInternalDepositAccountTransferResponse" message="tns:agencyInternalDepositAccountTransferResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/agencyInternalDepositAccountTransfer/Fault/XAPIException"/>
        </operation>
        <operation name="internalDepositAccountTransferFromExternalChannel">
            <input wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/internalDepositAccountTransferFromExternalChannelRequest" message="tns:internalDepositAccountTransferFromExternalChannel"/>
            <output wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/internalDepositAccountTransferFromExternalChannelResponse" message="tns:internalDepositAccountTransferFromExternalChannelResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://transfer.server.ws.supernova.neptunesoftware.com/FundsTransferWebServiceStub/internalDepositAccountTransferFromExternalChannel/Fault/XAPIException"/>
        </operation>
    </portType>
    <binding name="FundsTransferWebServiceStubPortBinding" type="tns:FundsTransferWebServiceStub">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="createAccountDirectDebit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="removeStandingOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="closeStandingOrders">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="getNetworkList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findAccountStandingOrderView">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findDirectDebitView">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyServiceProviderStandingOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="mandateadvice">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="createServiceProviderStandingOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="sweepAmendment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="createInternalStandingOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyInternalStandingOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="createInterBankStandingOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="createInterNationalStandingOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="internalDepositAccountTransfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findMobileRecharge">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="createSweepFundsTransfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifySweepFundsTransfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findSweepFundsTransfers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="closeSweepFundsTransfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="interBankTransferByAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="removeAccountSweep">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="outwardFundXferByDepositAccount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="customerToCustomerTransfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="ownAccountTransfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="internationalTransfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="performInternalTransferForCashDeposit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="performAccountToAccountXfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="getDirectDebitMandateDetails">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="standingOrderAmendment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="getStandingOrderDetails">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="getDirectDebitMandates">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="createDirectDebitMandate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="agencyCustomerToCustomerTransfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="agencyCustomerFundsTransfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="agencyCashFundsTransfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="createInwardFundTransfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="nameenquirysingleitem">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="fundtransfersingleitemdc">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="fundtransferAdvicedc">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="fundtransfersingleitemdd">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="fundtransferAdvicedd">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="transactionStatusQuery">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="financialInstitutionList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="getInwardFundsTransferConfirmation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="externalAccountNameInquiry">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="fundtransfersingleitemcredit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="fundtransfersingleitemdebit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="agencyInternalDepositAccountTransfer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="internalDepositAccountTransferFromExternalChannel">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="FundsTransferWebServiceEndPointPort">
        <port name="FundsTransferWebServiceStubPort" binding="tns:FundsTransferWebServiceStubPortBinding">
            <soap:address location="http://10.152.2.161:7001/supernovaws/FundsTransferWebServiceEndPointPort"/>
        </port>
    </service>
</definitions>